[submodule "aiscript"]
	path = aiscript
	url = https://github.com/aiscript-dev/aiscript.git
[submodule "develop"]
	path = develop
	url = https://github.com/aiscript-dev/aiscript
[submodule "next"]
	path = next
	url = https://github.com/aiscript-dev/aiscript
	branch = aiscript-next
